{% extends "base.html" %}

{% block title %}Changer le mot de passe{% endblock %}

{% block content %}

<div style="max-width:520px;margin:50px auto;background:#fff;padding:30px;border-radius:16px;box-shadow:0 8px 25px rgba(0,0,0,.08);">

    <h2 style="margin-bottom:20px;color:#061f3d;">
        Changer le mot de passe
    </h2>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" style="background:#8b1e2b;color:white;border:0;padding:12px 22px;border-radius:10px;font-weight:700;">
            Enregistrer
        </button>
    </form>

</div>

{% endblock %}