{% extends "base.html" %}

{% block title %}Gestion accidents{% endblock %}

{% block content %}

<div style="padding:40px;">

    <h1>Gestion des accidents</h1>

    <table style="width:100%;background:white;border-collapse:collapse;">

        <tr style="background:#061f3d;color:white;">

            <th style="padding:14px;">ID</th>
            <th>Référence</th>
            <th>Date</th>
            <th>Actions</th>

        </tr>

        {% for accident in accidents %}

        <tr style="border-bottom:1px solid #ddd;">

            <td style="padding:12px;">
                {{ accident.id }}
            </td>

            <td>
                {{ accident.reference }}
            </td>

            <td>
                {{ accident.date_accident }}
            </td>

            <td>

                <a href="{% url 'edit_accident' accident.pk %}">
                    Modifier
                </a>

                |

                <a href="{% url 'delete_accident' accident.pk %}">
                    Supprimer
                </a>

            </td>

        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}